{{> NavBar}}

<fieldset>
<legend>
	add a lobby
</legend>

<form class="add_lobby_form" action="" enctype="multipart/form-data" method="post">
	<div>
	<label for="name"> lobby name </label>
	<input id="name" name="lobby_name" type="text" required />
	</div>

	<div>
	<label for="id"> lobby id </label>
	<input id="id" name="lobby" type="text" pattern="[0-9]+" required />
	</div>

	<div>
	<label for="best"> best of </label>
	<input id="best" name="best_of" type="number" placeholder="0" />
	</div>

	<div>
	<label for="warm"> warmups </label>
	<input id="warm" name="warmups" type="number" placeholder="0" />
	</div>

	<div>
	<input type="submit" />
	</div>
</form>

</fieldset>

{{> Footer}}
