</main>

<footer>

    <p>made by <a target="_blank" href="https://osu.ppy.sh/users/9594849">unreallyyy</a> or something</p>
    {{#Match}}
    <p>base data from <a target="_bank" href="https://osu.ppy.sh/community/matches/{{LobbyId}}">osu.ppy.sh/matches</a>, stats done here</p>
    {{/Match}}

</footer>

</body>
</html>
