{{> NavBar}}

<style>
    #nav_list {
        border-bottom: solid 2px #f5f2f2;
    }
</style>

<fieldset>
    <legend> available lobbies</legend>

    <ul>
        {{#Dto.Lobbies}}
            <li>
                <a href="/viewlobby?lobby={{LobbyId}}&best_of={{BestOf}}&warmups={{Warmups}}"> {{LobbyName}} </a>
            </li>
        {{/Dto.Lobbies}}
    </ul>

    {{^Dto.Lobbies}}
        <p> no lobbies found, try setting an alias </p>
    {{/Dto.Lobbies}}

</fieldset>

{{> Footer}}
