<div>
	<form action="setalias" method="post">
		<a href="/">o!ma</a>
		{{^Dto}}
		<a href="/addlobby">add</a>
		{{/Dto}}

		{{#Dto}}
		{{^Dto.Locked}}
		<a href="/addlobby">add</a>
		<a href="/removelobby">remove</a>
		<a href="/lock">lock</a>
		{{/Dto.Locked}}
		{{#Dto.Locked}}
		<a href="/unlock">unlock</a>
		{{/Dto.Locked}}
		{{/Dto}}
		<input name="alias" type="text" placeholder="alias" style="display: inline"/>
	</form>
</div>
<hr>
