{{> NavBar}}

<style>
#nav_unlock { border-bottom: solid 2px #f5f2f2; }
</style>

<fieldset>
<legend> unlock current alias </legend>

<form class="lock_form" method="post" action="">
	<div>
	<input name="password" type="password" placeholder="password" />
	</div>

	<div>
	<input type="submit" value="unlock" />
	</div>
</form>

</fieldset>

{{> Footer}}
