@using OMA.Models.Dto
@model OMA.Models.Dto.AliasDto

@{
    List<LobbyDto> lobbies = [];

    if (Model != null) {
        lobbies = Model.Lobbies;
    }
}

@{
    ViewData["Title"] = "lobbies";
}

<div class="text-center">
    @foreach (var lobby in lobbies) {
        <a href="/viewlobby?lobby=@lobby.LobbyId">
            <h3> @lobby.LobbyName </h3>
        </a>
    }
</div>
