@model List<OMA.Models.Internal.Match>

@{
    ViewData["Title"] = "lobbies";
}

<div class="text-center">
    @if (Model != null)
    {
        foreach (var match in Model)
        {
            <a href="/@match.LobbyId">
                <h3> @match.Name </h3>
            </a>
        }
    }
</div>
