* {
	font-family: monospace;
	color: #f5f2f2;
}

html {
	background: #242323;
}

nav {
	width: 100%;
	padding: 5px;
	display: inline-flex;
	position: relative;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

main {
	padding: 5px;
}

fieldset {
	margin: 0px;
}
.nav_item {
	min-width: 3em;
	padding: 16px;
	border-bottom: solid 2px #5c3535;
	text-decoration: none;
}

.nav_item:not(input):hover {
	background: #5c3535;
	border-color: #f5f2f2;
	transition: background 66ms linear;
	transition: border-color white 66ms linear;
}

input {
	color: black;
}

input[type="submit"] {
	background-color: inherit;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #2e1818;
	transition: background 66ms linear;
}

.remove_lobby {
	padding: 8px;
	margin: 6px;
	min-width: 100%;
}

.add_lobby_form label,  input[type="submit"] {
	display: inline-flex;
	width: 100px;
	padding: 8px;
	margin: 6px;
}

.add_lobby_form label,  input {
	padding: 8px;
}
