@using OMA.Models.Dto;
@model OMA.Models.Dto.AliasDto

@{

    ViewData["Title"] = "remove lobby";
    List<LobbyDto> lobbies = [];

    if (Model != null) {
        lobbies = Model.Lobbies;
    }
}

<div class="">
    <h1>@ViewData["Title"]</h1>
    <p>remove a lobby from the current alias.</p>

    <div class="row">
        <div class="col-md-4">
            @foreach (var lobby in lobbies) {
                <form asp-action="RemoveLobby" enctype="multipart/form-data">
                    <div class="form-group">
                        <input name="lobby" value="@lobby.LobbyId"/ type="hidden">
                        <input class="btn btn-primary" type="submit" value="@lobby.LobbyName" />
                    </div>
                    <hr>
                </form>
            }
        </div>
    </div>
</div>
