<div>
	<form action="setalias" method="post">
		<a href="/">oma!</a>
		<a href="/addlobby">add</a>
		{{#.}}
		<a href="/removelobby">remove</a>
		{{/.}}
		<input name="alias" type="text" placeholder="alias" style="display: inline"/>
	</form>
</div>
<hr>
